.service-card {
    padding: 1.5rem;
    border: 1px solid var(--tr-theme-image-border);
    border-radius: 10px;
}

.service-icon {
    font-size: 2.5rem;
    color: var(--tr-service-icon);
}

.service-title {
    font-size: 1.5rem;
    color: var(--tr-service-title);
}

.service-description {
    font-size: 1rem;
    color: var(--tr-service-description);
}

@media (min-width: 576px) {
    .service-card {
        padding: 2rem;
    }
}