/* Default light theme */
:root {
  --tr-theme-body-bg: #FFFFFF;
  --tr-theme-body-text: #2A1454;
  --tr-theme-primary: #8750F7;
  --tr-theme-secondary: #C9BFDD;
  --tr-light-dark: #110D0D;
  --tr-theme-image-border: #2A1454;
  --tr-theme-tape-bg: #F6F3FC;
  --tr-theme-tape-text: #8750F7;

  --tr-nav-bg: #F6F3FC;
  --tr-nav-text: #2A1454;
  --tr-nav-border: #2A1454;
  --tr-nav-mobile-bg: #FFFFFF;
  --tr-nav-mobile-text: #050709;
  --tr-nav-bg-hover: #2A1454;
  --tr-nav-text-hover: #FFFFFF;

  --tr-portfolio-bg: #F6F3FC;
  --tr-portfolio-border: #D9D9D9;
  --tr-portfolio-btn-border: #2A1454;
  --tr-portfolio-btn-text: #2A1454;

  --tr-service-border: #8A54F7;
  --tr-service-icon: #8750F7;
  --tr-service-title: #8A54F7;
  --tr-service-description: #2A1454;

  --tr-timeline-line: #15091D;
  --tr-timeline-line-bg: rgba(20, 10, 30, 0.25);
  --tr-timeline-title: #2A1454;
  --tr-timeline-para: #050709;

  --tr-footer-bg: #2D1B69;
  --tr-footer-text: #F5F2FB;
}

/* Dark theme */
.dark {
  --tr-theme-body-bg: #0F0715;
  --tr-theme-body-text: #F6F6F6;
  --tr-theme-primary: #8750F7;
  --tr-theme-secondary: #2A1454;
  --tr-light-dark: #FFFFFF;
  --tr-theme-image-border: #8750F7;
  --tr-theme-tape-bg: rgba(40, 20, 85, 0.5);
  --tr-theme-tape-text: #F6F3FC;

  --tr-nav-bg: #050709;
  --tr-nav-text: #FFFFFF;
  --tr-nav-border: #FFFFFF;
  --tr-nav-mobile-bg: #2A1454;
  --tr-nav-mobile-text: #F6F3FC;
  --tr-nav-bg-hover: #FFFFFF;
  --tr-nav-text-hover: #2A1454;

  --tr-portfolio-bg: #15091D;
  --tr-portfolio-border: #2A1454;
  --tr-portfolio-btn-border: #D9D9D9;
  --tr-portfolio-btn-text: #D9D9D9;

  --tr-service-border: #8A54F7;
  --tr-service-icon: #8750F7;
  --tr-service-title: #FFFFFF;
  --tr-service-description: #FFFFFF;

  --tr-timeline-line: #8750F7;
  --tr-timeline-line-bg: rgba(135, 80, 245, 0.25);
  --tr-timeline-title: #8750F7;
  --tr-timeline-para: #F6F3FC;

  --tr-footer-bg: #15091D;
  --tr-footer-text: #F5F2FB;
}